---
layout: archive
title: " "
permalink: /researchs/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% include base_path %}

<div style="text-align: center;">
  <div style="position: relative; display: inline-block;">
    <img src="/images/compositiion1917.webp" alt="Profile Image" width="351" height="400" style="display: block;" />
  </div>
  <div style="text-align: right; font-style: italic; color: #d3d3d3; font-size: 14px; margin-top: 5px;">
    Composition by Piet Mondrian from 1917
    <!-- <br />
    <a href="https://www.wikiart.org/en/piet-mondrian/composition-with-red-blue-and-yellow-1921" target="_blank">Source</a> -->
  </div>
</div>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.researchs reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.researchs reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



